header h1 {
    font-size: 40pt;
    padding: 2%;
}

body {
    background: radial-gradient(rgb(0, 225, 255), lightgray);
    background-position: center;
}

.nav-text {
    font-size: xx-large;
}

.img {
    height: 45rem;
    width: 100%;
}

.img2 {
    height: 45rem;
    width: 85rem;
}

.img3 {
    height: 45rem;
    width: 85rem;
}

.carousel-control-next-icon,
.carousel-control-prev-icon {
  width: 2vw;
  height: 3vw;
}

.card-bg {
    background-color: rgba(177, 175, 175, 0.815);
}

@media screen and (max-width: 995px) {
    .img {
        height: 35rem;
    }
    .img2 {
        height: 35rem;
    }
    .img3 {
        height: 35rem;
    }
}
@media screen and (max-width: 767px) {
    .img {
        height: 20rem;
    }
    .img2 {
        height: 20rem;
    }
    .img3 {
        height: 20rem;
    }
}