body {
    background: radial-gradient(rgb(0, 225, 255), lightgray)
}

.nav-text {
    font-size: x-large;
}

.img {
    height: 45rem;
}

.img2 {
    height: 45rem;
    width: 85rem;
}

.img3 {
    height: 45rem;
    width: 85rem;
}

.carousel-control-next-icon,
.carousel-control-prev-icon {
  width: 3vw;
  height: 4vw;
}

.card-bg {
    background-color: rgba(177, 175, 175, 0.815);
}