header h1 {
    font-size: 40pt;
    padding: 2%;
}

body {
    background: radial-gradient(rgb(0, 225, 255), lightgray);
}

.nav-text {
    font-size: xx-large;
}

form {

    margin-top: 10rem;
}

.valid-feedback {
    margin-left: 15rem;
}

.invalid-feedback {
    margin-left: 10rem;
    margin-right: -25rem; 
}