header h1 {
    font-size: 40pt;
    padding: 2%;
}

body {
    background: radial-gradient(rgb(0, 225, 255), lightgray);
    background-position: center;
}

.nav-text {
    font-size: xx-large;
}

form div{
    margin-top: 25rem;
    margin-left: 25rem;
}

text-box {
    height: 5rem;
}

div button {
    margin-top: -47rem;
    margin-left: 7rem;
}

.valid-feedback {
    margin-left: 15rem;
}

.invalid-feedback {
    margin-left: 10rem;
    margin-right: -25rem; 
}