header h1 {
    font-size: 40pt;
    padding: 2%;
}

body {
    background: radial-gradient(rgb(0, 225, 255), lightgray);
    background-position: center;
}

.nav-text {
    font-size: xx-large;
}

form div{
    margin-left: 75rem;
}

div button {
    margin-left: 9.3rem;
}

.valid-feedback {
    margin-left: 15rem;
}

.invalid-feedback {
    margin-left: 15rem;
}